.hero {
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.hero-bg {
    background-color: #fefcfb;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 80px 120px;
}

.hero-wrapper {
    display: flex;
    width: 100%;
    max-width: 1326px;
    flex-direction: column;
    margin: 0 0 -24px 78px;
}

.nav-container {
    background-color: #fefcfb;
    width: 1170px;
    max-width: 100%;
    padding: 31px 0;
}

.nav-content {
    gap: 20px;
    display: flex;
}

.brand-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 17%;
    margin-left: 0;
}

.brand-wrapper {
    display: flex;
    gap: 10px;
    align-self: stretch;
    color: var(--Primary-B, #222);
    letter-spacing: 0.14px;
    margin: auto 0;
    font: 700 24px/1 Volkhov, sans-serif;
}

.brand-logo {
    display: flex;
}

.brand-icon {
    aspect-ratio: 1;
    object-fit: contain;
    width: 19px;
    fill: var(--Paragraph, #666);
    margin: auto 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
}

.nav-menu {
    display: flex;
    gap: 32px;
    align-self: center;
    color: #222;
    margin: auto 0;
    font: 400 16px Poppins, sans-serif;
}

.auth-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 14%;
    margin-left: 20px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font: 600 16px Poppins, sans-serif;
 } 

.login-btn {
    color: #fd8d3a;
    text-align: right;
    margin: auto 0;
}

.signup-btn {
    border-radius: 5px;
    background-color: #fa7436;
    box-shadow: 0 8px 16px rgba(250, 116, 54, 0.24);
    color: #fff;
    text-align: center;
    padding: 13px 50px;
}

.hero-content {
    gap: 20px;
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 40%;
}

.text-wrapper {
    display: flex;
    margin-top: 96px;
    flex-grow: 1;
    flex-direction: column;
    font-family: Poppins, sans-serif;
}

.hero-title {
    color: #222;
    font: 700 64px/70px Volkhov, sans-serif;
}

.orange-text {
    color: #fa7436;
}

.hero-description {
    color: var(--Paragraph, #666);
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    margin: 32px 24px 0 0;
}

.discover-button {
    border-radius: 5px;
    border: 1px solid var(--Primary-O, #fa7436);
    background-color: #fff;
    align-self: start;
    margin-top: 64px;
    font-size: 18px;
    color: var(--Primary-O, #fa7436);
    font-weight: 500;
    line-height: 32px;
    padding: 14px 28px;
}

.hero-image-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 60%;
    margin-left: 20px;
}

.hero-image {
    aspect-ratio: 1.34;
    object-fit: contain;
    width: 100%;
    border-radius: 0;
    flex-grow: 1;
}

.search-container {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 80px 2px rgba(0, 0, 0, 0.06);
    align-self: center;
    margin-top: 56px;
    width: 841px;
    max-width: 100%;
    padding: 32px 24px;
}

.search-content {
    gap: 20px;
    display: flex;
}

.search-fields {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 76%;
}

.search-inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: stretch;
    font-family: Poppins, sans-serif;
    margin: auto 0;
}

.input-labels {
    display: flex;
    width: 491px;
    max-width: 100%;
    gap: 20px;
    font-size: 16px;
    color: var(--Primary-B, #222);
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group {
    display: flex;
    gap: 4px;
}

.input-icon {
    aspect-ratio: 1.72;
    object-fit: contain;
    width: 12px;
    stroke-width: 2px;
    stroke: var(--Primary-O, #fa7436);
    margin: auto 0;
}

.input-placeholders {
    display: flex;
    margin-top: 10px;
    gap: 40px 98px;
    font-size: 12px;
    color: var(--Paragraph, #666);
    font-weight: 400;
    flex-wrap: wrap;
}

.placeholder-text {
    flex-grow: 1;
    width: 106px;
}

.search-button-container {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 24%;
    margin-left: 20px;
}

.explore-button {
    border-radius: 5px;
    background: var(--Primary-O, #fa7436);
    box-shadow: 0 8px 16px rgba(250, 116, 54, 0.16);
    flex-grow: 1;
    color: #fff;
    width: 100%;
    padding: 14px 28px;
    font: 500 18px/32px Poppins, sans-serif;
}

@media (max-width: 991px) {
    .hero-bg {
        max-width: 100%;
        padding: 0 20px 100px;
    }

    .hero-wrapper {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .nav-content {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .brand-container {
        width: 100%;
    }

    .brand-wrapper {
        margin-top: 40px;
        white-space: initial;
    }

    .nav-links {
        width: 100%;
    }

    .nav-menu {
        margin-top: 40px;
        white-space: initial;
    }

    .auth-container {
        width: 100%;
    }

    .auth-buttons {
        margin-top: 40px;
    }

    .signup-btn {
        padding: 0 20px;
    }

    .hero-content {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .hero-text {
        width: 100%;
    }

    .text-wrapper {
        max-width: 100%;
        margin-top: 40px;
    }

    .hero-title {
        max-width: 100%;
        font-size: 40px;
        line-height: 48px;
    }

    .hero-description {
        max-width: 100%;
        margin-right: 10px;
    }

    .discover-button {
        margin-top: 40px;
        padding: 0 20px;
    }

    .hero-image-container {
        width: 100%;
    }

    .hero-image {
        max-width: 100%;
        margin-top: 20px;
    }

    .search-container {
        margin-top: 40px;
        padding: 0 20px;
    }

    .search-content {
        flex-direction: column;
        align-items: stretch;
        gap: 0;
    }

    .search-fields {
        width: 100%;
    }

    .search-inputs {
        max-width: 100%;
        margin-top: 40px;
    }

    .input-labels {
        white-space: initial;
    }

    .input-group {
        white-space: initial;
    }

    .input-placeholders {
        max-width: 100%;
    }

    .search-button-container {
        width: 100%;
    }

    .explore-button {
        margin-top: 40px;
        padding: 0 20px;
    }
}

